#radios {
  list-style-type: none;
}

#radios > li {
  margin: 1em;
}

#radios a:link, #podcasts a:link {
  background-color: lightblue;
  color: white;
  border-bottom: thin solid blue;
  text-decoration: none;
}

#podcasts details {
  padding: 5px;
}

#menu-button {
  position: fixed;
  right: 4%;
  bottom: 2%;
  font-size: 3em;
  opacity: 0.1;
  color: green;
}

#menu-items {
  position: fixed;
  right: 4%;
  bottom: 20%;
  background: green;
  padding-right: 2em;
  color: white;
  list-style-type: none;
  opacity: 0.7;
}

#play {
  font-size: 160px;
}

#pause {
  font-size: 40px;
}

#stop {
  font-size: 100px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}